In [ ]:
print("Hello World")

Hello World

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

before function call
Hello world
welcome
None
after function call

In [ ]:
#day 12 Machine learning 12052025

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

enetr a no5
square of 5 is 25

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

enetr a no6
36

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

enetr a no6
square of 6 is 36

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

enetr a no4
16

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

20 30
<class 'int'>

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

([10, 20, 30, 40], (60, 70, 80))
<class 'tuple'>

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

20 20

In [ ]:
_ = 10
print(_)

10

In [ ]:
#day 12 Machine learning 12052025

In [ ]:
#function calling another function
def test1():
  print("iam include test1")
  test2() #function call
  print("iam back to test1")

def test2():
    print("iam in test2")
    print("going back")

test1()  #function call

iam include test1
iam in test2
going back
iam back to test1

In [ ]:
#local variable variables defined inside the functions andd used orfunction is calledlocalvariables for its function

def test():
  x =10
  x= x+1
  print(x)

test()
test()
test()

11
11
11

In [ ]:
#scopeof local variable (scope of the x is only with in the function)

def test():
  x =10
  x= x+1
  print(x)

test()
test()
test()

print(x)

11
11
11

NameError: name 'x' is not defined

In [ ]:
#global variable (not bound to any of the function, defines outside of the function)

n = 10
def fun():
  print(n)

fun()
print(n)

10
10

In [ ]:
#combination of local and global
n = 10
def fun():
  n = 5 # local variable to the function (heighest priority)
  print(n)

fun()
print(n)

5
10

In [ ]:
#global variables can be accessed insidefunction , however it cannot be modified
n = 10
def fun():
  n = n+1
  print(n)

fun()
print(n)

UnboundLocalError: cannot access local variable 'n' where it is not associated with a value

In [ ]:
#global variables can be accessed insidefunction , however it cannot be modified
#if we need to modify the global variable inside function use the global keyword before variable inside function
n = 10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)

fun()
print(n)

11
11

In [ ]:
n = 10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)
def test():
  global n
  n= n+1
  print(n)
fun()
test()
print(n)

11
12
12

In [ ]:
n=10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)
  test()

def test():
  global n
  n= n+1
  print(n)
fun()
test()
print(n)

11
12
13
13

In [ ]:
#function is an Object
def test():
  print("hello world")

i =10
print(type(i))

print(type(test))
print(test)
#we can create aliases for function

<class 'int'>
<class 'function'>
<function test at 0x7c337d9a1260>

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#alias name for function

def test1():
  print("hello")

a = test1 #assigining alias name
a() #calling function with alias name

hello

In [ ]:
#positional aruguments or required args
def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test('ram', 20, 'delhi')

my name is  ram and my age is  20 and iam from delhi

In [ ]:
#keyword arguments

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(name ='ram', age = 20, city ='delhi')


def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test( age = 20, city ='delhi', name ='ram')

my name is  ram and my age is  20 and iam from delhi
my name is  ram and my age is  20 and iam from delhi

In [ ]:
#keyword arguments and positional arguments

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test('ram', 20, city ='delhi')

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(20, 'ram',city ='delhi')

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(city ='delhi',20,'ram') #cannot give keyword arg first , we need to fix the positional args
#positional argument follows keyword argument
test('ram', 25, city = 'Delhi')

SyntaxError: positional argument follows keyword argument (<ipython-input-44-55f6d81a32f7>, line 16)

In [ ]:
#default arguments

def power(num, p=2): #here p is default argument defined in function
  print(num**p)

power(5)

25

In [ ]:
#default arguments

def student(name, age, m1, m2,m3, college="UVCE"):
  print(name, age, m1, m2, m3, college)

student('suresh', 20, 90,80,30)
student('hari', 21, 100, 91, 45)
student("Giri", 22, 45,55,64, "ssec") #if values passed it will override the existing values and take new value

suresh 20 90 80 30 UVCE
hari 21 100 91 45 UVCE
Giri 22 45 55 64 ssec

In [ ]:
#positional args --->Keyword args -----> Default args
def student(name, age, m1, m2,m3, college="UVCE"):
  print(name, age, m1, m2, m3, college)

student('suresh', 20, m1= 90,m2=80,m3=30)
#student('hari', 21, 100, 91, 45)
student("Giri", 22, 45,55,64, "ssec")

suresh 20 90 80 30 UVCE
Giri 22 45 55 64 ssec

In [ ]:
#variable length arguments
def add(*a):
  print(a)
  print(type(a))

add(1,2)
add(1,2,3)
add(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#variable length arguments
def sum(*a):
  #print(a)
  s=0
  for i in a:
    s=s+1
    print(type(s))
    print(s)

sum(1,2)#position arguments variable values are packed as Tuple
sum(1,2,3)
sum(1,2,3,4)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4

In [ ]:
#variable length keyword args

def addition(**a):
  s=0
  for n in a.values():
    s=s+n
  print(s)

addition(a=10, b=20)
addition(a= 22, b=33, c=44) #values are packed as a dictionary
#in variables keyword variable values are  packed as dictionary

30
99

In [ ]:
#day 14 Intermediate python Functions 14052025

#variable length positional args and variable length keyword args

def fun(*a, b, c, d=100):
    sum = 0
    mul = 0
    for i in a:
        sum = sum + i
    mul = b * c
    return sum, mul, d

fun(1,2,3,4,5, b = 6, c = 7)

#mixing multiple

(15, 42, 100)

In [ ]:
#mixing

def student(name,class_student,*parents_Name,age,School ='UVCE',**Marks):
  print("Stu name ", name)
  print("class ", class_student)
  print('Parents ', parents_Name)
  print('age ', age)
  print('marks ', Marks)
  print('School ', School)

student('hari',10, 'A', 'B' , age = 15, m1=10, m2=35, m3= 65)


'''function declaration:
1. Positional Arguments
2. Variable length positinal args
3. keyword args
4. default args
5. variable length keyword args
'''

Stu name  hari
class  10
Parents  ('A', 'B')
age  15
marks  {'m1': 10, 'm2': 35, 'm3': 65}
School  UVCE

'function declaration:\n1. Positional Arguments\n2. Variable length positinal args\n3. keyword args\n4. default args\n5. variable length keyword args\n'

In [ ]:
#normal functions will written using the keyword 'def' used in situataions to run lines of instructoins

#lambda functions can be used to call single line of version and there is no function call (Anonymous)
#it cannot contain multiple

#Syntax variable = lambda list of variables: expression

ans = lambda x,y:x*y
print("multiply", ans(4,5))

#lambda function return single value
var = lambda x,y,z:x+y+z
print(var(4,5,6))

multiply 20

In [ ]:
#this will get error like this
'''add = lambda x,y: x+y, x-y
print(add(10,20)) '''

#should need to bundle the expression
add = lambda x,y: (x+y, x-y)
print(add(10,20))
print(type(add(10,20)))

#to return List , tuple and other type we need to simulate the expression (), [], {}

add = lambda x,y: [x+y, x-y]
print(add(10,20))
print(type(add(10,20)))

add = lambda x,y: {x+y, x-y}
print(add(10,20))
print(type(add(10,20)))

(30, -10)
<class 'tuple'>
[30, -10]
<class 'list'>
{30, -10}
<class 'set'>

In [ ]:
#lambda function with the default args

add = lambda x, y=10: x+y
print(add(10))

#lambda function with keyword

add = lambda x,y: x+y
print(add(x=10, y=20))

#lambda with variable length code

add = lambda *x: sum(x)
print(add(1,2,3,4,5,67))

In [ ]:
#lambda function used to return area of

area = lambda r:3.14*r*r
print(area(10))

314.0

In [ ]:
#Python OOPs concepts

#class and objects

class claculator:
  n1 = 0
  n2 =0
  res =0
  def __init__(self, n1,n2):
    self.n1=0
    self.n2 = 0
    self.res = 0
    def add(self, n1,n2):
      pass
    def sub(self, n1,n2)
      pass

obj1 = claculator(10,20) #obj1 creation
obj2 =  claculator(30, 40 )#obj2 creation

obj1.add()
obj2.sub()

In [1]:
#day 15 Intermediate Python OOPS
class sample:
  def __init__(self):
    self.data=10
  def input_data(self):
    self.data= input("enter some text")
  def process_data(self):
    self.data= self.data.upper()
  def output_data(self):
    print(self.data)

#object creation  (constructor this will call implicitly call init method)
obj1 = sample()
obj2 = sample()
obj3 = sample()

obj1.input_data()
obj1.process_data()
obj1.output_data()


obj2.input_data()
obj2.process_data()
obj2.output_data()

enter some textNTT
NTT
enter some textKochin
KOCHIN

In [13]:
class calc:

  def __init__(self):
    self.a = 0
    self.b =0
    self.result =0
  def input_data(self):
    self.a = int(input("Enter A Value: "))
    self.b = int(input("Enter B vaue: "))
  def add(self):
    self.result = self.a + self.b
    print(self.result)
  def sub(self):
    self.result = self.a -self.b
    print( self.result)
  def mul(self):
    self.result = self.a * self.b
    print(self.result)
  def compare(self, other):
    if self.result == other.result:
      return True
    else:
      return False

objj1 = calc()
objj1.input_data()
objj1.add()
objj1.sub()
objj1.mul()

obj2 = calc()
obj2.input_data()
obj2.add()
obj2.sub()
obj2.mul()


objj1.compare(obj2)

Enter A Value: 10
Enter B vaue: 30
40
-20
300
Enter A Value: 30
Enter B vaue: 40
70
-10
1200

False

In [15]:
class student_average:
  def __init__(self):
    self.StuName =""
    self.Age =0
    self.m1 = 0
    self.m3 =0
    self.avg =0
  def get_data(self):
    self.StuName = input("Enter Student Name: ")
    self.Age = int(input("Enter Student Age: "))
    self.m1 = int(input("Enter Student M1 marks: "))
    self.m2 =int(input("Enter student M2 marks: "))
    self.m3 = int(input("Enter Student M3 marks: "))

  def cal_Avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3
    print(self.avg)
  def student(self):
    print(self.StuName, self.Age, self.avg)

s1 = student_average()
s1.get_data()
s1.cal_Avg()
s1.student()

s2= student_average()
s2.get_data()
s2.cal_Avg()
s2.student()

Enter Student Name: Hari
Enter Student Age: 25
Enter Student M1 marks: 79
Enter student M2 marks: 85
Enter Student M3 marks: 98
87.33333333333333
Hari 25 87.33333333333333
Enter Student Name: giri
Enter Student Age: 28
Enter Student M1 marks: 98
Enter student M2 marks: 100
Enter Student M3 marks: 100
99.33333333333333
giri 28 99.33333333333333

In [18]:
#parametarized constructor

class test:

  def __init__(self, aa, bb):
    self.a =aa
    self.b = bb
  def outputdata(self):
    print(self.a,self.b)

t1 = test(10,20)  #here we are passing values in the object constructor
t1.outputdata()

t2 = test('Hari', 'Giri')
t2.outputdata()

10 20
Hari Giri