In [3]:
print("Hello World hari")

Hello World hari

In [7]:
#day 11 May 7th Intermediate Python , python

#functions

def myfirst():
  print('hello world')

myfirst()

def sum(a, b):
  return a+b

print(sum(10,11))

def multiply(a, b, c):
  return a*b*c

print(multiply(10,11,12))

hello world
21
1320

In [8]:
#program to print the square of no
#without arguments and withour retunr values
def square():
  x = int(input("enter a number"))
  y = x**2
  print("square of ", x, "is", y)

square()

enter a number10
square of  10 is 100

In [9]:
#with Arguments and with return values
def square(x):

  y = x**2
  return y

print('execution starts here')
x = int(input("enter a number"))
result= square(x)
print(result)

execution starts here
enter a number5
25

In [11]:
#function with arguments, without return values

def square(x):
  y = x**2
  print(y)


print('execution starts here')
x = int(input("enter a number"))
result= square(x)
print(result)

execution starts here
enter a number7
49
None

In [13]:
#function without arguments, with retunr values

def square():
  x=int(input('enter name'))
  y = x**2
  return y

print('execution starts here')

square()

execution starts here
enter name6

36

In [15]:
#can return any object(list, tuple, dictionary,set), can return multiple values as well

#return statement

def test(a,b,c,d):
  return a,b,c,d
x,y,z,w=test(10,20,30,40)
print(x,y,z,w)

10 20 30 40

In [16]:
#use underscore used as place holder do not need to print the values

def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40

In [17]:
def test1():
  l1 = [10, 20, 30,40]
  t1 = ( 60,70,80)
  return l1, t1

u = test1()
print(u)
print(type(u))

([10, 20, 30, 40], (60, 70, 80))
<class 'tuple'>