In [ ]:
print("Hello World")

Hello World

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

before function call
Hello world
welcome
None
after function call

In [ ]:
#day 12 Machine learning 12052025

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

enetr a no5
square of 5 is 25

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

enetr a no6
36

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

enetr a no6
square of 6 is 36

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

enetr a no4
16

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

20 30
<class 'int'>

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

([10, 20, 30, 40], (60, 70, 80))
<class 'tuple'>

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

20 20

In [ ]:
_ = 10
print(_)

10

In [ ]:
#day 12 Machine learning 12052025

In [ ]:
#function calling another function
def test1():
  print("iam include test1")
  test2() #function call
  print("iam back to test1")

def test2():
    print("iam in test2")
    print("going back")

test1()  #function call

iam include test1
iam in test2
going back
iam back to test1

In [ ]:
#local variable variables defined inside the functions andd used orfunction is calledlocalvariables for its function

def test():
  x =10
  x= x+1
  print(x)

test()
test()
test()

11
11
11

In [ ]:
#scopeof local variable (scope of the x is only with in the function)

def test():
  x =10
  x= x+1
  print(x)

test()
test()
test()

print(x)

11
11
11

NameError: name 'x' is not defined

In [ ]:
#global variable (not bound to any of the function, defines outside of the function)

n = 10
def fun():
  print(n)

fun()
print(n)

10
10

In [ ]:
#combination of local and global
n = 10
def fun():
  n = 5 # local variable to the function (heighest priority)
  print(n)

fun()
print(n)

5
10

In [ ]:
#global variables can be accessed insidefunction , however it cannot be modified
n = 10
def fun():
  n = n+1
  print(n)

fun()
print(n)

UnboundLocalError: cannot access local variable 'n' where it is not associated with a value

In [ ]:
#global variables can be accessed insidefunction , however it cannot be modified
#if we need to modify the global variable inside function use the global keyword before variable inside function
n = 10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)

fun()
print(n)

11
11

In [ ]:
n = 10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)
def test():
  global n
  n= n+1
  print(n)
fun()
test()
print(n)

11
12
12

In [ ]:
n=10
def fun():
  global n #global keyword to modify global variables
  n = n+1
  print(n)
  test()

def test():
  global n
  n= n+1
  print(n)
fun()
test()
print(n)

11
12
13
13

In [ ]:
#function is an Object
def test():
  print("hello world")

i =10
print(type(i))

print(type(test))
print(test)
#we can create aliases for function

<class 'int'>
<class 'function'>
<function test at 0x7c337d9a1260>

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

8 multiplied by 5 is: 40
4 multiplied by 10 is: 40

In [ ]:
#alias name for function

def test1():
  print("hello")

a = test1 #assigining alias name
a() #calling function with alias name

hello

In [ ]:
#positional aruguments or required args
def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test('ram', 20, 'delhi')

my name is  ram and my age is  20 and iam from delhi

In [ ]:
#keyword arguments

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(name ='ram', age = 20, city ='delhi')


def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test( age = 20, city ='delhi', name ='ram')

my name is  ram and my age is  20 and iam from delhi
my name is  ram and my age is  20 and iam from delhi

In [ ]:
#keyword arguments and positional arguments

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test('ram', 20, city ='delhi')

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(20, 'ram',city ='delhi')

def test(name, age, city):
  print("my name is ", name, "and my age is ", age, "and iam from", city)

test(city ='delhi',20,'ram') #cannot give keyword arg first , we need to fix the positional args
#positional argument follows keyword argument
test('ram', 25, city = 'Delhi')

SyntaxError: positional argument follows keyword argument (<ipython-input-44-55f6d81a32f7>, line 16)

In [ ]:
#default arguments

def power(num, p=2): #here p is default argument defined in function
  print(num**p)

power(5)

25

In [ ]:
#default arguments

def student(name, age, m1, m2,m3, college="UVCE"):
  print(name, age, m1, m2, m3, college)

student('suresh', 20, 90,80,30)
student('hari', 21, 100, 91, 45)
student("Giri", 22, 45,55,64, "ssec") #if values passed it will override the existing values and take new value

suresh 20 90 80 30 UVCE
hari 21 100 91 45 UVCE
Giri 22 45 55 64 ssec

In [ ]:
#positional args --->Keyword args -----> Default args
def student(name, age, m1, m2,m3, college="UVCE"):
  print(name, age, m1, m2, m3, college)

student('suresh', 20, m1= 90,m2=80,m3=30)
#student('hari', 21, 100, 91, 45)
student("Giri", 22, 45,55,64, "ssec")

suresh 20 90 80 30 UVCE
Giri 22 45 55 64 ssec

In [ ]:
#variable length arguments
def add(*a):
  print(a)
  print(type(a))

add(1,2)
add(1,2,3)
add(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
#variable length arguments
def sum(*a):
  #print(a)
  s=0
  for i in a:
    s=s+1
    print(type(s))
    print(s)

sum(1,2)#position arguments variable values are packed as Tuple
sum(1,2,3)
sum(1,2,3,4)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4

In [ ]:
#variable length keyword args

def addition(**a):
  s=0
  for n in a.values():
    s=s+n
  print(s)

addition(a=10, b=20)
addition(a= 22, b=33, c=44) #values are packed as a dictionary
#in variables keyword variable values are  packed as dictionary

30
99

In [ ]:
#day 14 Intermediate python Functions 14052025

#variable length positional args and variable length keyword args

def fun(*a, b, c, d=100):
    sum = 0
    mul = 0
    for i in a:
        sum = sum + i
    mul = b * c
    return sum, mul, d

fun(1,2,3,4,5, b = 6, c = 7)

#mixing multiple

(15, 42, 100)

In [ ]:
#mixing

def student(name,class_student,*parents_Name,age,School ='UVCE',**Marks):
  print("Stu name ", name)
  print("class ", class_student)
  print('Parents ', parents_Name)
  print('age ', age)
  print('marks ', Marks)
  print('School ', School)

student('hari',10, 'A', 'B' , age = 15, m1=10, m2=35, m3= 65)


'''function declaration:
1. Positional Arguments
2. Variable length positinal args
3. keyword args
4. default args
5. variable length keyword args
'''

Stu name  hari
class  10
Parents  ('A', 'B')
age  15
marks  {'m1': 10, 'm2': 35, 'm3': 65}
School  UVCE

'function declaration:\n1. Positional Arguments\n2. Variable length positinal args\n3. keyword args\n4. default args\n5. variable length keyword args\n'

In [ ]:
#normal functions will written using the keyword 'def' used in situataions to run lines of instructoins

#lambda functions can be used to call single line of version and there is no function call (Anonymous)
#it cannot contain multiple

#Syntax variable = lambda list of variables: expression

ans = lambda x,y:x*y
print("multiply", ans(4,5))

#lambda function return single value
var = lambda x,y,z:x+y+z
print(var(4,5,6))

multiply 20

In [ ]:
#this will get error like this
'''add = lambda x,y: x+y, x-y
print(add(10,20)) '''

#should need to bundle the expression
add = lambda x,y: (x+y, x-y)
print(add(10,20))
print(type(add(10,20)))

#to return List , tuple and other type we need to simulate the expression (), [], {}

add = lambda x,y: [x+y, x-y]
print(add(10,20))
print(type(add(10,20)))

add = lambda x,y: {x+y, x-y}
print(add(10,20))
print(type(add(10,20)))

(30, -10)
<class 'tuple'>
[30, -10]
<class 'list'>
{30, -10}
<class 'set'>

In [ ]:
#lambda function with the default args

add = lambda x, y=10: x+y
print(add(10))

#lambda function with keyword

add = lambda x,y: x+y
print(add(x=10, y=20))

#lambda with variable length code

add = lambda *x: sum(x)
print(add(1,2,3,4,5,67))

In [ ]:
#lambda function used to return area of

area = lambda r:3.14*r*r
print(area(10))

314.0

In [ ]:
#Python OOPs concepts

#class and objects

class claculator:
  n1 = 0
  n2 =0
  res =0
  def __init__(self, n1,n2):
    self.n1=0
    self.n2 = 0
    self.res = 0
    def add(self, n1,n2):
      pass
    def sub(self, n1,n2)
      pass

obj1 = claculator(10,20) #obj1 creation
obj2 =  claculator(30, 40 )#obj2 creation

obj1.add()
obj2.sub()

In [ ]:
#day 15 Intermediate Python OOPS
class sample:
  def __init__(self):
    self.data=10
  def input_data(self):
    self.data= input("enter some text")
  def process_data(self):
    self.data= self.data.upper()
  def output_data(self):
    print(self.data)

#object creation  (constructor this will call implicitly call init method)
obj1 = sample()
obj2 = sample()
obj3 = sample()

obj1.input_data()
obj1.process_data()
obj1.output_data()


obj2.input_data()
obj2.process_data()
obj2.output_data()

enter some textNTT
NTT
enter some textKochin
KOCHIN

In [ ]:
class calc:

  def __init__(self):
    self.a = 0
    self.b =0
    self.result =0
  def input_data(self):
    self.a = int(input("Enter A Value: "))
    self.b = int(input("Enter B vaue: "))
  def add(self):
    self.result = self.a + self.b
    print(self.result)
  def sub(self):
    self.result = self.a -self.b
    print( self.result)
  def mul(self):
    self.result = self.a * self.b
    print(self.result)
  def compare(self, other):
    if self.result == other.result:
      return True
    else:
      return False

objj1 = calc()
objj1.input_data()
objj1.add()
objj1.sub()
objj1.mul()

obj2 = calc()
obj2.input_data()
obj2.add()
obj2.sub()
obj2.mul()


objj1.compare(obj2)

Enter A Value: 10
Enter B vaue: 30
40
-20
300
Enter A Value: 30
Enter B vaue: 40
70
-10
1200

False

In [ ]:
class student_average:
  def __init__(self):
    self.StuName =""
    self.Age =0
    self.m1 = 0
    self.m3 =0
    self.avg =0
  def get_data(self):
    self.StuName = input("Enter Student Name: ")
    self.Age = int(input("Enter Student Age: "))
    self.m1 = int(input("Enter Student M1 marks: "))
    self.m2 =int(input("Enter student M2 marks: "))
    self.m3 = int(input("Enter Student M3 marks: "))

  def cal_Avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3
    print(self.avg)
  def student(self):
    print(self.StuName, self.Age, self.avg)

s1 = student_average()
s1.get_data()
s1.cal_Avg()
s1.student()

s2= student_average()
s2.get_data()
s2.cal_Avg()
s2.student()

Enter Student Name: Hari
Enter Student Age: 25
Enter Student M1 marks: 79
Enter student M2 marks: 85
Enter Student M3 marks: 98
87.33333333333333
Hari 25 87.33333333333333
Enter Student Name: giri
Enter Student Age: 28
Enter Student M1 marks: 98
Enter student M2 marks: 100
Enter Student M3 marks: 100
99.33333333333333
giri 28 99.33333333333333

In [ ]:
#parametarized constructor

class test:

  def __init__(self, aa, bb):
    self.a =aa
    self.b = bb
  def outputdata(self):
    print(self.a,self.b)

t1 = test(10,20)  #here we are passing values in the object constructor
t1.outputdata()

t2 = test('Hari', 'Giri')
t2.outputdata()

10 20
Hari Giri

In [ ]:
#day 16 Intermediate python continuous to OOps Class

#Class variable is not bount to any other objects, and its common for all objects , which is not part of any object or method
class student:
  student_count =0 #class variable
  collegeName = 'SREC'

  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.collegeName = "ABC"  #this is the local variable to object
    student.student_count =student.student_count+1
    print(student.student_count)

  def display(self):
    print(self.name, self.age, student.collegeName, self.collegeName)

s1= student("ram", 20)
s2 = student("Hari", 25)
s3 = student("Rose", 22)

s1. display()
s2.display()
s3.display()

print(student.collegeName)
print(s1.collegeName)
print(s2.student_count)

1
2
3
ram 20 SREC ABC
Hari 25 SREC ABC
Rose 22 SREC ABC
SREC
ABC
3

In [ ]:
class village:
  village.count =0
  village.Name = "SREC"
  @classmethod #decurator
  def display(cls):
    print(cls.Name, cls.count)


village.display() #class method call

NameError: name 'village' is not defined

In [ ]:
#inheritance

#deriving   a new class from existing calss

class parent(object):
  #attribute+methods

class child(parent):
  #attributes+methods

In [ ]:
class employee: #without inheritance
  bonus = 2000
  def display(self):
    print("this is my bonus")
class Manager:
  bonus1 = 5000
  def show(self):
    print("this is manager class method")

e1 = employee()
e2 = Manager()


e1.display()
e1.show()

this is my bonus
this is manager class method

In [ ]:
class employee: #with inheritance
  bonus = 2000
  def display(self):
    print("this is my bonus")
class Manager(employee): #this is how we can inherit the employee calss with Manger
  bonus1 = 5000
  def show(self):
    print("this is manager class method")

e1 = employee()
e2 = Manager()
#e1.bonus1
e2.bonus

e1.display()
e2.show()
e2.display()

this is my bonus
this is manager class method
this is my bonus

In [ ]:
#constructor in inheritance

class father:
  def __init__(self):
    print("father class constructor")
    self.vehicle = 'scooter'
class son(father):
  pass

s = son()
print(s.__dict__)

father class constructor
{'vehicle': 'scooter'}

In [ ]:
#constructor in inheritance

class father:
  def __init__(self):
    print("father class constructor")
    self.vehicle = 'scooter'
class son(father):
  def __init__(self):
    print("son class constructor")
    self.vehicle = 'car'

s = son()
print(s.__dict__)

son class constructor
{'vehicle': 'car'}

In [ ]:
#super method

class computer:
  def __init__(self):
    print("computer class constructor")
    self.ram = 8
    self.processor = 'i5'

class mobile(computer):
  def __init__(self):
    super().__init__()
    self.model = 'iphone'
    print("mobile class constructor")

m = mobile()
print(m.__dict__)

computer class constructor
mobile class constructor
{'ram': 8, 'processor': 'i5', 'model': 'iphone'}

In [ ]:
#parametarised super method
#parent parameterized , child is not patameterized

class computer:
  def __init__(self, ram, pro):
    print("computer class constructor")
    self.ram = ram
    self.processor = pro

class mobile(computer):
  def __init__(self, ram, processor):
    super().__init__(ram,processor)
    self.model = 'iphone'
    print("mobile class constructor")

m = mobile('8gb', 'i7')
print(m.__dict__)

computer class constructor
mobile class constructor
{'ram': '8gb', 'processor': 'i7', 'model': 'iphone'}

In [ ]:
#mutilevel inheritance
#parent--->child --->Grandchild

class grandFather:
  gf_attribute = 'Gfs trait'

  def display_gf(self):
    print(self.gf_attribute)

class father(grandFather):
  father_attribute = 'fathers trait'

  def display_father(self):
    print(self.father_attribute)

class child(father):
  child_attribute = 'chaild trait'

  def display_child(self):
    print(self.child_attribute)


child1 = child()

child1.display_gf()
child1.display_father()
child1.display_child()

print(child1.gf_attribute)

Gfs trait
fathers trait
chaild trait
Gfs trait

In [ ]:
#day 15 intermeiate Python

#parent and child paramaterized
class computer:
  def __init__(self, ram, processor):
    print('computer class constructor')
    self.ram = ram
    self.processor = processor

class mobile(computer):
  def __init__(self, ram, processor, model, dummy):
    super().__init__(ram, processor)
    self.model = model
    self.dummy = dummy
    print('mobile class constructor')
m = mobile('8GB', 'i7', 'iphone', 'dummy')
print(m.__dict__)

computer class constructor
mobile class constructor
{'ram': '8GB', 'processor': 'i7', 'model': 'iphone', 'dummy': 'dummy'}

In [ ]:
#constructor in multilevel inheritance

class Human():
  def __init__(self):
    print('human class constructor')
    self.name = 'radha'

class EMP(Human):
  def __init__(self):
    print('EMP class constructor')
    self.salary = '200000'

class Manager(EMP):
  def __init__(self):
    print('Manager class constructor')
    self.bonus = 20

m1 = Manager()
print(m1.__dict__)

Manager class constructor
{'bonus': 20}

In [ ]:
#day 17 Python intermediate
#MRO

class A:
  pass
class B:
  pass
class C:
  pass
class X(A,B,C):
  pass
class Y(B,C):
  pass

class P(X,Y):
  pass

print(P.mro())

[<class '__main__.P'>, <class '__main__.X'>, <class '__main__.A'>, <class '__main__.Y'>, <class '__main__.B'>, <class '__main__.C'>, <class 'object'>]

In [ ]:
#encapsulation

class finance:
  def __init__(self):
    self.rev = 100000
    self.sales = 100

f1 = finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 2000
    print(f1.rev)


h1 =HR()
print(h1.__dict__)
print(f1.__dict__)

#here there is no restriction for one class object to anither class  Public access

{'rev': 100000, 'sales': 100}
100000
{'emp': 2000}

In [ ]:
#

class finance:
  def __init__(self):
    self.__rev = 100000
    self.sales = 100

f1 = finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 2000
    print(f1.__rev)


h1 =HR()
print(h1.__dict__)
print(f1.__dict__)

{'_finance__rev': 100000, 'sales': 100}

AttributeError: 'finance' object has no attribute '_HR__rev'

In [ ]:
class finance:
  def __init__(self):
    self.__rev = 100000
    self.sales = 100

    def get_data(self):
      print(self.__rev)

f1 = finance()
print(f1.__dict__)
print(f1._finance__rev)
f1.get

'''class HR:
  def __init__(self):
    self.emp = 2000
    #print(f1.__rev)


h1 =HR()
print(h1.__dict__)
print(f1.__dict__)'''

{'_finance__rev': 100000, 'sales': 100}
100000

'class HR:\n  def __init__(self):\n    self.emp = 2000\n    #print(f1.__rev)\n\n\nh1 =HR()\nprint(h1.__dict__)\nprint(f1.__dict__)'

In [ ]:
#day 18 python

class hotel:
  def __init__(self, name, rating, price):
    self.name = name
    self.rating = rating
    self.price = price
  def __gt__(self, other):
    if(self.price > other.price):
      return True
    else:
      return False
h1 = hotel('A', 3.5, 2000)
h2 = hotel('B', 4.5, 5000)

print(h1>h2)

False

In [ ]:
#method overloading

class addition:
  def add(self, a, b):
    print(a+b)
  def add(self, a, b, c):
    print(a+b+c)

a1 = addition()
a1.add(10, 5)  #since we have 3 variable in another object its giving overaloading

TypeError: addition.add() missing 1 required positional argument: 'c'

In [ ]:
#method overloading handling

#method overloading

class addition:
  def add(self, a=None, b=None, c= None):
    if a!=None and b!=None and c!= None:
      print(a+b+c)
    elif a!=None and b!=None:
      print(a+b)
    else:
      print("invalid")

a1 = addition()
a1.add(a=None, b=5, c= 10)

invalid

In [ ]:
#destructor

class emp:
  def __init__(self, name, sal):
    self.name = name
    self.sal = sal
  def display(self):
    print(self.name, self.sal)
  def __del__(self):
    print("My destructor is called")

e1 = emp("Radha", 20000)
e1.display()

del e1

Radha 20000
My destructor is called

In [ ]:
#day 18 Python Intermediate

#exception handling

n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(dev)
except ZeroDivisionError:
  print('devide by zero is not possible')
except NameError:
  print("please chech the variable name which is causing defined error")

print("rest of the code")

Enter first number: 20
enter the 2nd number: 10
please chech the variable name which is causing defined error
rest of the code

In [ ]:
# handling multiple exceptions one go

n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(dev)
except (ZeroDivisionError, NameError) as obj:
  print(obj)


print("rest of the code")

Enter first number: 20
enter the 2nd number: 10
name 'dev' is not defined
rest of the code

In [ ]:

n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(dev)
except:
  print('Some exception thrown')

print('rest of the code')

In [ ]:
n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(devide)
except:
  print('Some exception thrown')
else:
  print('no exception')
finally:
  print('finally')

print('rest of the code')

Enter first number: 10
enter the 2nd number: 2
5.0
no exception
finally
rest of the code

In [ ]:
n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(devide)
except ZeroDivisionError as Var:
  print(var) #here catching the exception assign to variable

print('rest of the code')

In [ ]:
n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(devid)
except Exception as var: #it will catch all exception classes under the exception parent class
  print(var)
  print(var.__class__)
  print(var.__doc__)
  print(var.__str__())


print('rest of the code')

Enter first number: 10
enter the 2nd number: 2
name 'devid' is not defined
<class 'NameError'>
Name not found globally.
name 'devid' is not defined
rest of the code

In [ ]:

#using sys module
import  sys
n1 =int(input('Enter first number: '))
n2 = int(input('enter the 2nd number: '))

try:
  devide = n1/n2
  print(devid)
except :
  print(sys.exc_info()[0])
  print(sys.exc_info()[1])

Enter first number: 10
enter the 2nd number: 2
<class 'NameError'>
name 'devid' is not defined

In [ ]:

#raise key word

try :
  age = int(input('enter your age: '))

  if age < 0:
    raise ValueError
    print ('your age is ', age)
except ValueError:
  print('invalid age ')

print('rest of the code')

enter your age: -10
invalid age
rest of the code

In [ ]:
try :
  age = int(input('enter your age: '))

  if age < 0:
    raise ValueError('invalid age')
    print ('your age is ', age)
except ValueError as var:
  print(var)

print('rest of the code')

enter your age: -10
invalid age
rest of the code

In [ ]:
#user defined exception

class FiveDivisionError(Exception): #this is usr defined function
  pass

try:
  n1 = int(input('enter 1st no: '))
  n2 = int(input('enter 2nd no: '))
  if n2 ==5:
    raise FiveDivisionError('cannot deivide by 5')
  div = n1/n2
  print('div is ', div)

except FiveDivisionError as obj:
  print(obj)

print('rest of the code')

enter 1st no: 10
enter 2nd no: 5
cannot deivide by 5
rest of the code

In [ ]:
class AgeError(Exception):
  pass

age = int(input('enter your age: '))
print(age)
try:
  if age < 0:
    raise AgeError('Age should be greater than 0')
except AgeError as obj:
  print(obj)

print('rest of the code')

enter your age: -10
-10
Age should be greater than 0
rest of the code

In [ ]:
#ATM project
class balanceException(Exception):
  pass

def withdraw():
  savedPin = 2653
  balance = 10000
  pin = int(input('enter the pin: '))

  if pin == savedPin:
    try:
      amt = int(input("Enter the amount to withdraw"))
      temp_balance = balance - amt
      if temp_balance < 1000:
        raise balanceException('balance cannot be lessthan 1000')
      balance = balance - amt



withdraw()

In [ ]:
# ATM project
import time
class BalanceException(Exception):
  pass
class AttemptException(Exception):
  pass
attempt=1
def withdraw():
  global attempt
  saved_pin=1234
  balance = 10000

  pin = int(input("enter the PIN"))

  if pin == saved_pin:
    try:
      amt = int(input("enter the amt to withdraw"))
      temp_bal = balance- amt
      if temp_bal < 1000:
        raise BalanceException("balance cannot be less than 1000")
      balance = balance- amt
      print("remaining balance is ", balance)

    except BalanceException as var:
      print(var)

  else:
    print("invalid pin")
    ans = input("do u want to continue again (y/n)")
    if ans == "y":
      attempt = attempt + 1
      try:
        if attempt == 4:
          raise AttemptException(" too mant attempts , your account is blocked for 3 hours")

      except AttemptException as var:
        print(var)
        time.sleep(3600)
      else:
        withdraw()
    else:
        print('bye!!')

In [ ]:
#Bank project

class Bank:
  bankname= "Indian bank"
  branch = "Bellandur , Blr"

  #create account
  def __init__(self , username , pan, address):
    self.username = username
    self.pan = pan
    self.address = address
    self.balance = 0
    print("account created succesfully")

  def withdraw(self, amt):
    if amt< self.balance:
      self.balance = self.balance - amt
      print("remaining balance is ", self.balance)
    else:
      print("insufficient balance")

  def deposit(self, amt):
    self.balance = self.balance + amt
    print("amount deposited successfully")

  def balance_check(self):
    print("your balance is ", self.balance)


# collect user data for account creation


username = input("enter your name")
pan= input("enter ur pan no")
address = input("enter ur address")

b = Bank(username, pan, address)


while True:
   print("1. Deposit , 2.withdraw 3.balacecheck 4.quit")
   option = int(input("enter ur option"))

   if option ==1:
    amt = int(input("enter the amount to deposit"))
    b.deposit(amt)

   elif option == 2:
    amt = int(input("enter the amount to withdraw"))
    b.withdraw(amt)

   elif option == 3:
    b.balance_check()

   elif option == 4:
    break

   else:
    print("invalid option")

enter your nameHari
enter ur pan noabc2345
enter ur addressa cross, b colony
account created succesfully
1. Deposit , 2.withdraw 3.balacecheck 4.quit
enter ur optionwithdraw

ValueError: invalid literal for int() with base 10: 'withdraw'

In [ ]:
dict = {}
dict['1'] =(1,2)
dict['2']  =(2,1)
for x in dict.keys():
  print(dict[x][1], end='')

21

In [ ]:
a

In [ ]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [ ]:
d ={}
d[1] =1
d['1'] = 2
d[1] += 1

for x in d:
  sum += d[1]

  print(sum)

TypeError: unsupported operand type(s) for +=: 'builtin_function_or_method' and 'int'

In [ ]:
tup = (1, ) + (1, )
tup = tup + tup
print(len(tup))

4

In [ ]:
2 **3 **2 **1


print('''python's class's are "best"''')

python's class's are "best"

In [ ]:
i = 250
while len(str(i)) >72:
  i *=2
else:
  i //= 2
print(i)

125

In [ ]:
n = 0
while n <4:
  n +=1
  print(n, end=" ")

1 2 3 4

In [ ]:
n = "Hello, Python!"
m = "20"

print(n[-14:15])

Hello, Python!

In [ ]:
n = {'A':1, 'B':2, 'c':3}
for item in n.items():
  print(item)

('A', 1)
('B', 2)
('c', 3)