In [ ]:
print("Hello World")

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")


print("before function call")
fun()
print("after function call")

In [ ]:
# program to print the square of no
# without arguments , without return values
def square():
  x = int(input("enetr a no"))
  y = x**2
  print("square of",x,"is",y)

square()

In [ ]:
 #with arguments , with return values

def square(x):
    #y = x**2
    return x**2


x = int(input("enetr a no"))
res = square(x)
print(res)

In [ ]:
#with arguments , without return values
def square(x):
  y = x**2
  print("square of",x,"is",y)


x = int(input("enetr a no"))
square(x)

In [ ]:
#without args , with return values

def square():
  x = int(input("enetr a no"))
  y = x**2
  return y

res = square()
print(res)

In [ ]:
# return statement


def test(a,b,c,d):

  return a,b,c,d

x,y = test(10,20,30,40)[1:3]

print(x,y)
print(type(x))

In [ ]:
# return

def test1():
  l1 = [10,20,30,40]
  t1 = (60,70,80)
  return l1,t1

x = test1()
print(x)
print(type(x))

In [ ]:
def func1(a,b,c,d):
  return a,b,c,d

 = func1(10,20,30,40)
print(a,a)

In [ ]:
_ = 10
print(_)

In [ ]:
#day 13

# function calling another fn

def test1():
  print("i am insude test1")
  test2() # fn call
  print("i am back to test1")

def test2():
  print(" I am in test2")
  print("going back")

test1()  # fn call
print("end of program")

In [ ]:
# LOcal Variable- lifetime

def test():
  x=10
  x=x+1
  print(x)

test()
test()
test()

In [ ]:
# LOcal Variable- scope

def test():
  x=10
  x=x+1
  print(x)

test()
#print(x) error
test()
test()

In [ ]:
# global variable

n =10

def fun():
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  n=5   # local varibale
  print(n)

fun()
print(n)

In [ ]:
# global variable

n =10

def fun():
  global n # global keyword
  n=n+1
  print(n)

def test():
  global n
  n= n+1
  print(n)


fun()
test()
print(n)

In [ ]:
# Function is also an object

def test():
  print("hello wrold")

i =10
print(type(i))

print(type(test))
print(test)

In [ ]:
def multiplier_factory(factor):

  def multiplier(number):

    return number * factor

  # Return the nested function
  return multiplier  # returning the inner function

# Create a function that multiplies by 5
multiply_by_5 = multiplier_factory(5)

# Create a function that multiplies by 10
multiply_by_10 = multiplier_factory(10)

# Use the created functions
result1 = multiply_by_5(8)
result2 = multiply_by_10(4)

print(f"8 multiplied by 5 is: {result1}")  # Output: 8 multiplied by 5 is: 40
print(f"4 multiplied by 10 is: {result2}") # Output: 4 multiplied by 10 is: 40

In [ ]:
# alias name for a function

def test1():
  print("hello")

a = test1

a()

In [ ]:
# positional args or required ars

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test("Ram",25,"Delhi",)

In [ ]:
# keyword args

def test(name, age, city):
  print("my name is ", name , " and my age is ", age," and basically from",city)


test(age =25 , name ="Ram",city ="Delhi",)

In [ ]:
# keyword args and positional args

def test(name, current_city,city,age):
  print("my name is ", name , " and my age is ", age," and basically from",city,"but currently i live in",current_city)


test("ram","delhi",age = 25, city="Blr")

# positional args ----> keyword args
# keyword args should follow positional ars ,

In [ ]:
# default arguments

def student(name , age , m1,m2,m3 ,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",25,90,80,70)
student("Rose",21,91,86,75,"SSEC")

John 25 90 80 70 UVCE
Rose 21 91 86 75 SSEC

In [ ]:
# positional agrs ----> keyword args -----> Default args

def student(name , age , m1,m2,m3,college="UVCE"):

  print(name,age, m1,m2,m3,college)


student("John",age=21,m1=25,m2=90,m3=80, college= "SS")
student("Rose",21,91,86,75)

In [ ]:
# variable length args
def fun(*a):
  print(a)
  print(type(a))

fun(1,2)
fun(1,2,3)
fun(1,2,3,4)

(1, 2)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# variable length positional args
def sum(*a):

  s = 0
  for i in a:
    s = s+i
  print(s)

sum(1,2)
sum(1,2,3)
sum(1,2,3,4)

In [ ]:
# variable length keyword args

def addition(**a):

  s=0
  for n in a.values():
    s= s+n
  print(s)

addition(a=10,b=20)  # values are packed as a dict
addition(a=22,b=33,c=44)

In [ ]:
# variable length positional args and variable length keyword  args

def add(*num,**nums ):
  print(sum(num))
  print(sum(nums.values()))

add(10,20,30,40, n1=100,n2=200,n3=300)

100
600

In [ ]:
#variable length positional args , keyword ars, default agrs

def student(name,clas,*parents_name,age,school= "UVCE",**marks):
  print('Name: ',name)
  print('class: ',clas)
  print('Parents: ', parents_name)
  print('Age: ',age)
  print('Marks: ',marks)
  print('School: ',school)

student('Ravi',5,'A','B',age=12,eng=90,maths=87,science=91)

Name:  Ravi
class:  5
Parents:  ('A', 'B')
Age:  12
Marks:  {'eng': 90, 'maths': 87, 'science': 91}
School:  UVCE

In [ ]:
#lambda function return single value

var = lambda x,y,z : x+y+z
print(var(10,20,30))

60

In [ ]:
add =lambda x,y : [x+y , x-y]
print( type(add(2,3)))
print( add(2,3))

<class 'list'>
[5, -1]

In [ ]:
a= lambda: print("hello")
print(a())

hello
None

In [ ]:
# using default agrs
add = lambda x, y=1 : x+y

print(add(4))

5

In [ ]:
# using key word args
add = lambda x, y : x+y
print(add(x=5,y=6))

11

In [ ]:
# using var lenghth args
add = lambda *x: sum(x)
print(add(1,2,3,4,5))

15

In [ ]:
area = lambda r: 3.14*r*r
print(area(5))

78.5

In [ ]:
# class and Objects

class Calculator:
  n1=0    # attributes
  n2=0
  res = 0

  def __init__(self,n1,n2):  # methods
    self.n1=0
    self.n2=0
    self.res=0

  def add(self , n1,n2):
    pass

  def sub(self , n1,n2):
    pass

  def mul(self , n1,n2):
    pass

  def div(self , n1,n2):
    pass



ob1 = Calculator(10,20) # obj1 creation
ob2 = Calculator(100,200) # obj2 creation

In [ ]:
# Class example

class Sample:

  def __init__(self):
    self.data = 10

  def input_data(self):
    self.data = input("enter some text")

  def process_data(self):
    self.data = self.data.upper()

  def output_data(self):
    print(self.data)

Obj1 = Sample()   #obj creation
Obj2= Sample()
Obj3 = Sample()

Obj1.input_data()
Obj1.process_data()
Obj1.output_data()

Obj2.input_data()
Obj2.process_data()
Obj2.output_data()

Obj3.input_data()
Obj3.process_data()
Obj3.output_data()

In [ ]:
# simple calculator

class Calculator:

  def __init__(self):
    self.n1=0             #attributes
    self.n2=0
    self.res=0

  def input_data(self):
    self.n1 = 100
    self.n2 = 200


  def add(self):
    self.res = self.n1 + self.n2
    print(self.res)

  def sub(self):
    self.res = self.n1 - self.n2
    print(self.res)

  def compare(self, other, other1):
    if self.res == other.res:
      return True
    else:
      return False



c1 = Calculator()  # obj creation
c1.input_data()
c1.add()
c1.sub()


c2 = Calculator()
c2.input_data()
c2.add()
c2.sub()

c1.compare(c2,10)

TypeError: Calculator.add() takes 0 positional arguments but 1 was given

In [ ]:
# student details
class Student:

  def __init__(self):
    self.name = ""
    self.age = 0
    self.m1=0
    self.m2=0
    self.m3=0
    self.avg=0

  def input_data(self):
    self.name = input("enter name")
    self.age = int(input("enter age"))
    self.m1 = int(input("enter m1"))
    self.m2 = int(input("enter m2"))
    self.m3 = int(input("enter m3"))

  def calculate_avg(self):
    self.avg = (self.m1+self.m2+self.m3)/3

  def student_data(self):
    print("Name: ",self.name)
    print("Age: ",self.age)
    print("Marks: ",self.m1,self.m2,self.m3)
    print("Average: ",self.avg)


s1= Student()
s2 = Student()
s3 = Student()

s1.input_data()
s1.calculate_avg()
s1.student_data()

s2.input_data()
s2.calculate_avg()
s2.student_data()

s3.input_data()
s3.calculate_avg()
s3.student_data()

enter nameVijay
enter age20
enter m190
enter m290
enter m380
Name:  Vijay
Age:  20
Marks:  90 90 80
Average:  86.66666666666667
enter nameJohn
enter age21
enter m178
enter m290
enter m399
Name:  John
Age:  21
Marks:  78 90 99
Average:  89.0
enter nameGeetha
enter age21
enter m189
enter m279
enter m359
Name:  Geetha
Age:  21
Marks:  89 79 59
Average:  75.66666666666667

In [ ]:
class Test:

  def __init__(self , aa,bb):
    self.res=0
    self.total=100
    self.a= aa
    self.b= bb

  def outputdata(self):
    print(self.a,self.b)

t1 = Test(10,20)
t2 = Test (1.1,2.2)

t1.outputdata()
t2.outputdata()

10 20
1.1 2.2

In [ ]:
class Employee:

  def __init__(self,name,id,dept,bsal):
    self.emp_name = name
    self.emp_id = id
    self.emp_dept = dept
    self.bsal = bsal
    self.bonus = 20
    self.fsal = 0

  def cal_sal(self):
    self.fsal = self.bsal + (self.bsal*self.bonus/100)

  def output_data(self):
    print('Name: ',self.emp_name)
    print('Id: ',self.emp_id)
    print('Dept: ',self.emp_dept)
    print('Total Salary: ',self.fsal)
a= input("enter a name")
b= input("enter the emp id")
e1 = Employee(a,b,'Tech',10000)
e1.cal_sal()
e1.output_data()

enter a namealex
Name:  alex
Id:  101
Dept:  Tech
Total Salary:  12000.0

In [ ]:
def __init__(self):
  pass


def fun1():


def fun2():
  pass

def fun3():
  pass

In [ ]:
def funnn():
  pass


funnn()

In [ ]:
# Day 16
# class varaible

class Student:
  student_count=0  # class variable
  collegename= "JJCET"

  def __init__(self,name , age):
    self.name = name
    self.age= age
    Student.student_count = Student.student_count+1
    print(Student.student_count)
    self.collegename= "UVCE"   # local instance variable

  def display(self):
    print(self.name , self.age ,self.collegename, Student.collegename)

s1 = Student("Ram",20)
s2 = Student("Tejas",21)
s3= Student("Rose",22)

s1.display()
s2.display()
s3.display()

print(Student.collegename)
print(s1.collegename)
print(s2.student_count)

1
2
3
Ram 20 UVCE JJCET
Tejas 21 UVCE JJCET
Rose 22 UVCE JJCET
JJCET
UVCE
3

In [ ]:
#class methods


class Student:
  student_count=0  # class variable
  collegename= "JJCET"

  def __init__(self,name , age):
    self.name = name
    self.age= age
    Student.student_count = Student.student_count+1
    print(Student.student_count)
    self.collegename= "UVCE"   # local instance variable


  @classmethod                 #class method
  def get_college(cls):
    print(cls.collegename)

  def display(self):
    print(self.name , self.age ,self.collegename, Student.collegename)

s1 = Student("Ram",20)
s2 = Student("Tejas",21)
s3= Student("Rose",22)

Student.get_college()         # class method called

s1.display()
s2.display()
s3.display()
"""
print(Student.collegename)
print(s1.collegename)
print(s2.student_count) """

1
2
3
JJCET
Ram 20 UVCE JJCET
Tejas 21 UVCE JJCET
Rose 22 UVCE JJCET

'\nprint(Student.collegename)\nprint(s1.collegename)\nprint(s2.student_count) '

In [ ]:
# inheritance


class Employee:  #withoutr inheritance
  bonus=2000
  def display(self):
    print("this is a employee class method")


class Manager:
  bonus1 =5000
  def show(self):
    print("This is a manager class method")

e1= Employee()
e1.display()


m1= Manager()
m1.show()

m1.bonus  # error

this is a employee class method
This is a manager class method

AttributeError: 'Manager' object has no attribute 'bonus'

In [ ]:
# inheritance


class Employee:  #withoutr inheritance
  bonus=2000
  def display(self):
    print("this is a employee class method")


class Manager(Employee):
  bonus1 =5000
  def show(self):
    print("This is a manager class method")

e1= Employee()
e1.display()


m1= Manager()
m1.show()

m1.bonus  # error

this is a employee class method
This is a manager class method

AttributeError: 'Employee' object has no attribute 'bonus1'

In [ ]:
# constructors in inheritance

class Father:
  def __init__(self):
    print("Father class constructor")
    self.vehicle = "Scooter"

class Son(Father):
  pass

s= Son()
print(s.__dict__)

Father class constructor
{'vehicle': 'Scooter'}

In [ ]:
# constructors in inheritance

class Father:
  def __init__(self):
    print("Father class constructor")
    self.vehicle = "Scooter"

class Son(Father):

  def __init__(self):
    print("son class constructor")
    self.vehicle= "BMW"

s= Son()
print(s.__dict__)

son class constructor
{'vehicle': 'BMW'}

In [ ]:
## super method

class Computer:
  def __init__(self):
    print("Computer class constructor")
    self.ram= "8GB"
    self.processor = "i5"


class Mobile(Computer):
  def __init__(self):
    super().__init__()
    self.model= "iphone"
    print("mob constructor calld")



m = Mobile()

print(m.__dict__)

Computer class constructor
mob constructor calld
{'ram': '8GB', 'processor': 'i5', 'model': 'iphone'}

In [ ]:
# Parameterized Super method    # parent class is paramaterized , child class is non paramaterized

class Computer:
  def __init__(self,ram,pro):
    print("Computer class constructor")
    self.ram= ram
    self.processor = pro


class Mobile(Computer):
  def __init__(self,ram, processor):
    super().__init__(ram,processor)
    self.model= "iphone"
    print("mob constructor calld")



m = Mobile('8GB','i7')

print(m.__dict__)

Computer class constructor
mob constructor calld
{'ram': '8GB', 'processor': 'i7', 'model': 'iphone'}

In [ ]:
# Parameterized Super method    # parent class is paramaterized , child class is also paramaterized

class Computer:
  def __init__(self,ram,pro):
    print("Computer class constructor")
    self.ram= ram
    self.processor = pro


class Mobile(Computer):
  def __init__(self,ram, processor, model, dummy):
    super().__init__(ram,processor)
    self.model= model
    self.dummy = dummy
    print("mob constructor calld")



m = Mobile('8GB','i7',"iphone","dummy")

print(m.__dict__)

Computer class constructor
mob constructor calld
{'ram': '8GB', 'processor': 'i7', 'model': 'iphone', 'dummy': 'dummy'}

In [ ]:
# class varibale inheritance

# Parent class with a class variable
class Parent:
  parent_class_variable = "I am a parent class variable"

  def __init__(self, name):
    self.name = name

  def display_parent_variable(self):
    print(f"From Parent instance {self.name}: {Parent.parent_class_variable}")

# Child class inheriting from Parent
class Child(Parent):
  child_class_variable = "I am a child class variable"

  def __init__(self, name, age):
    super().__init__(name) # Initialize the parent class
    self.age = age

  def display_variables(self):
    print(f"From Child instance {self.name}:")
    print(f"  Parent class variable: {self.parent_class_variable}") # Accessing inherited class variable
    print(f"  Child class variable: {self.child_class_variable}") # Accessing child class variable

# Create an instance of the Child class
child_instance = Child("Alice", 10)

# Access and display the inherited class variable
print("Accessing class variables:")
print(f"From Parent class: {Parent.parent_class_variable}")
print(f"From Child class (accessing inherited): {Child.parent_class_variable}")
print(f"From Child instance (accessing inherited): {child_instance.parent_class_variable}")
print(f"From Child class: {Child.child_class_variable}")

# Use the method to display the variables
child_instance.display_variables()

# Create a Parent instance to show the difference
parent_instance = Parent("Bob")
parent_instance.display_parent_variable()
# print(parent_instance.child_class_variable) # This would cause an error

Accessing class variables:
From Parent class: I am a parent class variable
From Child class (accessing inherited): I am a parent class variable
From Child instance (accessing inherited): I am a parent class variable
From Child class: I am a child class variable
From Child instance Alice:
  Parent class variable: I am a parent class variable
  Child class variable: I am a child class variable
From Parent instance Bob: I am a parent class variable

In [ ]:
# Multilevel inheritance

class Grandfather:
  gf_attribute = " GFs trait"

  def display_gf(self):
    print(self.gf_attribute)


class Father(Grandfather):
    father_attribute = "Father trait"

    def display_father(self):
      print(self.father_attribute)


class Child(Father):
    child_attribute = "Child trait"

    def display_child(self):
      print(self.child_attribute)

child1= Child()
child1.display_gf()
child1.display_father()
child1.display_child()

print(child1.child_attribute)
print(child1.father_attribute)
print(child1.gf_attribute)

 GFs trait
Father trait
Child trait
Child trait
Father trait
 GFs trait

In [ ]:
# constructors in mulitlevel inheritance

class Human():

  def __init__(self):
    print("Human class constructor")
    self.name="Radha"

class Emp(Human):

  def __init__(self):
    super().__init__()
    print("Emp class constructor")
    self.name ="Ram"


class Manager(Emp):

  def __init__(self):
    super().__init__()
    print("Mnager class constructor")
    self.name= "John"


m1 = Manager()

print(m1.__dict__)

Mnager class constructor
Human class constructor
Emp class constructor
{'name': 'Ram'}

In [ ]:
# constructors in mulitlevel inheritance with paramaterized constructot

class Human():

  def __init__(self, para1 , para2):
    print("Human class constructor")
    self.name="Radha"
    self.para1 = para1
    self.para2 = para2

class Emp(Human):

  def __init__(self,para1, para2 , para3, para4):
    super().__init__(para1, para2)
    print("Emp class constructor")
    self.name ="Ram"
    self.para3 = para3
    self.para4 = para4


class Manager(Emp):

  def __init__(self,para1, para2, para3,para4,para5,para6):
    super().__init__(para1, para2, para3,para4)
    print("Mnager class constructor")
    self.name= "John"
    self.para5 = para5
    self.para6 = para6


m1 = Manager(10,20,30,40,50,60)

print(m1.__dict__)

Human class constructor
Emp class constructor
Mnager class constructor
{'name': 'John', 'para1': 10, 'para2': 20, 'para3': 30, 'para4': 40, 'para5': 50, 'para6': 60}

In [ ]:
# Hierarchial inheritance

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age


class Student(Person):

  def __init__(self, name, age, student_id):
    super().__init__(name, age)
    self.student_id = student_id

  def display(self):
    print("student display method")


class Emp(Person):
  def __init__(self, name, age, emp_id):
    super().__init__(name, age)
    self.emp_id = emp_id

  def display(self):
    print("Emp display method")


s1 = Student("Ram",22,"CSE001")
print(s1.__dict__)

e1 = Emp("Radha",21,"EMP001")
print(e1.__dict__)

s1.display()
e1.display()

{'name': 'Ram', 'age': 22, 'student_id': 'CSE001'}
{'name': 'Radha', 'age': 21, 'emp_id': 'EMP001'}
student display method
Emp display method

In [ ]:
# Multiple inheritance

class Country:
  office = "Delhi"

class State:
  office = "Chennai"

class District(State , Country):
  pass

d1 = District()
print(d1.office)

Chennai

In [ ]:
# Multiple inheritance with constructor

class Country:
  def __init__(self):
    self.office = "Delhi"

class State:
  def __init__(self):
    self.office = "Chennai"

class District(Country ,State  ):
  pass

d1 = District()
print(d1.office)

Delhi

In [ ]:
class Country:
  def __init__(self):
    self.office = "Delhi"

class State:
  pass

class District( State, Country ):
  pass

d1 = District()
print(d1.office)

Delhi

In [ ]:
# multiple inheritance with Super method

class Human():
  def __init__(self):
    print(  "Human class constructor")
    self.name = "Radha"

  def display(self):
    print("human class diaply")

class Emp():
  def __init__(self):
    print("Emp cons called")
    self.sal = 20000

  def output(self):
    print("emp class output method")

class Manager(Human , Emp  ):
  def __init__(self):
    super().__init__()
    print("Manager cons called")
    self.bonus= 20

m1 = Manager()
print(m1.__dict__)

m1.display()
m1.output()

Human class constructor
Manager cons called
{'name': 'Radha', 'bonus': 20}
human class diaply
emp class output method

In [2]:
class Dummy():
  def __init__(self):
    print(  "dummy class constructor")
    self.money = 40000
  def display(self):
    print("dummy dispay")

class Human():
  def __init__(self):
    super().__init__()
    print(  "Human class constructor")
    self.name = "Radha"

  def display(self):
    print("Human dispay")



class Emp():
  def __init__(self):
    super().__init__()
    print("Emp cons called")
    self.sal = 20000


class Manager(Emp , Human, Dummy  ):
  def __init__(self):
    super().__init__()
    print("Manager cons called")
    self.bonus= 20
    Dummy.display(self)

""" m1 = Manager()
m1.display()

print(m1.__dict__)"""

e = Emp()
print(e.__dict__)

Emp cons called
{'sal': 20000}

In [4]:
# MRO
class A:
  pass

class B:
  pass

class C:
  pass

class X(A,B,C):
  pass

class Y(B,C):
  pass

class P(X,Y):
  pass

print(P.mro())

[<class '__main__.P'>, <class '__main__.X'>, <class '__main__.A'>, <class '__main__.Y'>, <class '__main__.B'>, <class '__main__.C'>, <class 'object'>]

In [7]:
# Encapsulation

class Finance:
  def __init__(self):
    self.rev = 100000
    self.sales= 100


f1= Finance()
print(f1.__dict__)

class HR:
  def __init__(self):
    self.emp = 200
    f1.rev= 200000


h1 = HR()
print(h1.__dict__)
print(f1.__dict__)

{'rev': 100000, 'sales': 100}
{'emp': 200}
{'rev': 200000, 'sales': 100}

In [12]:
class Finance:
  def __init__(self):
    self.__rev = 100000 # private data
    self.sales= 100

  def get_data(self):
    print(self.__rev)

f1= Finance()
print(f1.__dict__)
print(f1._Finance__rev)





class HR:
  def __init__(self):
    self.emp = 200
    print(f1._Finance__rev)


h1 = HR()
print(h1.__dict__)
#print(f1.__dict__) """

{'_Finance__rev': 100000, 'sales': 100}
100000
100000
{'emp': 200}

In [13]:
class Finance:
  def __init__(self):
    self.__rev = 100000 # private data
    self.sales= 100

  def __get_data(self):  # private method
    print(self.__rev)

f1= Finance()
f1.__get_data()

AttributeError: 'Finance' object has no attribute '__get_data'

In [15]:
class Vehicle:
  def __init__(self ,name , color,price):
    self.name = name
    self.color= color
    self.price = price

  def get_details(self):
    print(self.name)
    print(self.color)
    print(self.price)

  def max_speed(self):
    print("max speed is 100")

  def gear(self):
    print("6 gears")


class Car(Vehicle):
  def max_speed(self):
    print("max speed is 150")

  def gear(self):
    print("7 gears")

v1 = Vehicle("Truck","red",200000)
c1 = Car("car","white",3333333)
v1.get_details()
c1.get_details()

v1.max_speed()
c1.max_speed()

Truck
red
200000
car
white
3333333
max speed is 100
max speed is 150

In [4]:
# polymorphism with functions

class BMW:
  def fuel_type(self):
    print("BMWs fuel type")

  def max_speed(self):
    print("BMW;s max speed")


class Ferrari:
  def fuel_type(self):
    print("Ferrari's fuel type")

  def max_speed(self):
    print("Ferrari's max speed")


def car_details(obj):
  obj.fuel_type()
  obj.max_speed()


b= BMW()
f= Ferrari()

car_details(f)

Ferrari's fuel type
Ferrari's max speed

In [8]:
# operator overloading

n1 = 10
n2= 20
print(n1+n2)

print(n1.__add__(n2))
print(int.__add__(n1,n2))

print(dir(int))

30
30
30
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [9]:
n1 = "NTT"
n2= "DATA"
print(n1+n2)

print(n1.__add__(n2))
print(str.__add__(n1,n2))

#print(dir(int))

NTTDATA
NTTDATA
NTTDATA

In [10]:
n1 = 10
n2= "DATA"
print(n1+n2)

print(n1.__add__(n2))
print(int.__add__(n1,n2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
class Book:
  def __init__(self, title,pages):
    self.title = title
    self.pages= pages

b1 = Book("Python",300)
b2= Book ("Let us C", 200)

#print("total pages",b1.pages+b2.pages)

print(b1+b2)

TypeError: unsupported operand type(s) for +: 'Book' and 'Book'

In [13]:
class Book:
  def __init__(self, title,pages):
    self.title = title
    self.pages= pages

  def __add__(self,other):
    self.pages = self.pages + other.pages
    return self.pages

b1 = Book("Python",300,)
b2= Book ("Let us C", 200)

#print("total pages",b1.pages+b2.pages)


print(b1+b2)

500

In [16]:
class Hotel:
  def __init__(self, name, fare):
    self.name = name
    self.fare= fare

  def __gt__(self, other):
    return self.fare > other.fare

h1 = Hotel("Taj",12000)
h2 = Hotel ("Leela",10000)

print(h1>h2)

print(dir(int))

True
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [19]:
# Method overloading

class Addition:
  def add(self,a=None,b=None,c=None):
    if a!=None and b!= None  and c!= None:
      print(a+b+c)
    elif a!=None and b!=None:
      print(a+b)

    else:
      print("invalid")


a1 = Addition()
a1.add(10,20)
a1.add(10,20,30)

30
60

In [23]:
#destructor

class Emp:
  def __init__(self,name,sal):
    self.name = name
    self.sal =sal

  def dispaly(self):
    print(self.name,self.sal)

  """def __del__(self):
    print("my destructor is called")"""

e1 = Emp("Radha",20000)
e1.dispaly()

del e1

Radha 20000

In [5]:
# exception handling

n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))

try:

  div= n1/n2
  print(di)

except ZeroDivisionError:
  print("divide by 0 is not possible")

except NameError:
    print("name not defined")



print("rest of the code")

enter 1st number10
enter the 2nd number2
name not defined
rest of the code

In [8]:
# exception handling

n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))

try:

  div= n1/n2
  print(dibbb)

except (ZeroDivisionError , NameError) as obj:
  print(obj)

print("rest of the code")

enter 1st number10
enter the 2nd number2
name 'dibbb' is not defined
rest of the code

In [12]:
n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))
try:
  div= n1/n2
  print(div)

except:
  print("some exception is thrown")

else:
  print("no exception")

finally:
  print("finally")


print("rest of the code")

enter 1st number10
enter the 2nd number5
2.0
no exception
finally
rest of the code

In [13]:
n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))
try:
  div= n1/n2
  print(div)

except ZeroDivisionError as var:
  print(var)



print( " rest of the code")

enter 1st number10
enter the 2nd number0
division by zero
 rest of the code

In [14]:
n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))

div= n1/n2
print(div)





print( " rest of the code")

enter 1st number10
enter the 2nd number0

ZeroDivisionError: division by zero

In [16]:
n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))
try:
  div= n1/n2
  print(divv)

except Exception  as var:
  print(var)
  print(var.__class__)



print( " rest of the code")

enter 1st number10
enter the 2nd number2
name 'divv' is not defined
<class 'NameError'>
 rest of the code

In [19]:
# using sys module
import sys
n1 = int(input("enter 1st number"))
n2 = int(input("enter the 2nd number"))
try:
  div= n1/n2
  print(divv)

except :
  print(sys.exc_info()[0])
  print(sys.exc_info()[1])




print( " rest of the code")

enter 1st number10
enter the 2nd number2
<class 'NameError'>
name 'divv' is not defined
 rest of the code

In [20]:
# raise keyword


try:
  age= int(input("Enter ur age"))
  if age < 0:
    raise ValueError
  print("your age is ",age)

except ValueError:
  print("invalid age")


print("rest of the code")

Enter ur age-10
invalid age
rest of the code

In [21]:
try:
  age= int(input("Enter ur age"))
  if age < 0:
    raise ValueError("invalid age")
  print("your age is ",age)

except ValueError as var:
  print(var)


print("rest of the code")

Enter ur age-10
invalid age
rest of the code

In [22]:
# user defined exception

class FiveDivisionError(Exception):
  pass

try:
  n1 = int(input("enter the 1st no"))
  n2 = int(input("enter the 2nd no"))

  if n2==5:
    raise FiveDivisionError("cannot divide by 5")
  div = n1/n2
  print("div is",div)

except FiveDivisionError as var:
  print(var)



print("rest of the code")

enter the 1st no10
enter the 2nd no5
cannot divide by 5
rest of the code

In [23]:
class AgeError(Exception):
  pass

try:
  age= int(input("Enter ur age"))
  if age < 0:
    raise AgeError("Age cannot be negative")
  print("your age is ",age)

except AgeError as var:
  print(var)


print("rest of the code")

Enter ur age-10
invalid age
rest of the code

In [25]:
# ATM project
import time
class BalanceException(Exception):
  pass
class AttemptException(Exception):
  pass
attempt=1
def withdraw():
  global attempt
  saved_pin=1234
  balance = 10000

  pin = int(input("enter the PIN"))

  if pin == saved_pin:
    try:
      amt = int(input("enter the amt to withdraw"))
      temp_bal = balance- amt
      if temp_bal < 1000:
        raise BalanceException("balance cannot be less than 1000")
      balance = balance- amt
      print("remaining balance is ", balance)

    except BalanceException as var:
      print(var)

  else:
    print("invalid pin")
    ans = input("do u want to continue again (y/n)")
    if ans == "y":
      attempt = attempt + 1
      try:
        if attempt == 4:
          raise AttemptException(" too mant attempts , your account is blocked for 3 hours")

      except AttemptException as var:
        print(var)
        time.sleep(3600)

      else:
        withdraw()
    else:
      print("bye")







withdraw()

enter the PIN1111
invalid pin
do u want to continue again (y/n)y
enter the PIN2222
invalid pin
do u want to continue again (y/n)y
enter the PIN3333
invalid pin
do u want to continue again (y/n)y
 too mant attempts , your account is blocked for 3 hours

In [ ]:
class AgeError(Exception):
  def __init__(self, msg):
    self.msg = msg