In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [1]:
print("Hello Hari !!!")

Hello Hari !!!

In [ ]:
2+3

5

Day 2 session  12/03/2025

In [1]:
#dynamic programming
a = 10
print(a)
print(id(a))

a =3.14
print(a)
print(id(a))

10
10751144
3.14
135692426203216

In [3]:
#deleting variable
a =20
print(a)

del a

print(a)

20

NameError: name 'a' is not defined

In [4]:
#creating multiple variables in one go

a,b,c = 10, 3.14, "NTT"

print(a)
print(b)
print(c)

10
3.14
NTT

In [5]:
#assign single value to multiple variable
a=b=c= 100

print(a)
print(b)
print(c)

100
100
100

In [6]:
#annotation

a:int = 10
b:float = 3.14
c:str = "NTT"

print(a, b, c)
print (__annotations__['a'])
print(__annotations__['b'])
print(__annotations__['c'])

10 3.14 NTT
<class 'int'>

In [7]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [8]:
#multiple line comments
""" this is used for multiple line comments
as used same as
for 10 lines """



#strings using slice

name = "Code yug"

print(name[0:3:1])
#cod will be printed (0 is start position , 3 is the stop position , 1 is set)

Cod

In [9]:
name = "code yug"

print(name[2:4])

de

In [18]:
#slicing   Positive indexing

#this will start from left tp right

#[small: big : +]

s ='bangalore'
print(s[0:7:1])

print(s[0:8:3])

print(s[0::1])

print(s[:5:1]) #1-1 0 skipping nothing

print(s[0:5:])

print(s[::])

print(s[0:5:2]) #2-1 skipping 1 box

print(s[:4])

print(s[::])

print(s[0::3])  #3-1 skipping 2 boxes in indexing

print(s[0:0:1])  #2nd value shold be always greater than 1

bangalo
bgo
bangalore
banga
banga
bangalore
bna
bang
bangalore
bgo

In [19]:
print(s[0:0:1])  #no out put for this cause 2nd value cannot be zero

In [23]:
#negative slicing
# indexing will start from right to left

name = 'bangalore'

print(name[-1:-4:-1])  #here when we trying to indexing for negative we will be adding 1
#-1+1 = 0, for the ending, -4+1 = -3 is the value for second value
print(name[-1:-8:-2])  #[big : smaller no: -]

print(name[-1:-5:-2])

ero
eoan
eo

In [31]:
#handle positive and negative indexing
name = 'code yug'
print(name[-2:-6:2])  #when you specify the positive index value the index will start from left to right
#here -2 value is u from to right hand side to it

# third parameter is the decision maker in whether the indexing should go postive or negative

print(name[-1::-1]) # second parameter is missing which means complete strng

string = "Hello, World!"
print(string[7:12])

print(string[:5])

print(string[-6:-1]) #third parameter is mssing which means postive indexing
#for positive [small:bigger : -] so indexing from left side from -6 to -2

guy edoc
World
Hello
World

In [1]:

#Day 3 Session 17-03-2025

my_string = "Python is fun!"

print(my_string[-1:-7:-2])

!u

In [5]:
#decision making

if 10 > 5:
  print("10 is greated than 5")
  print("i am inside if block")
print("i ama outside if block")

if 1 > 5:
  print("1 is greated than 5")
  print("i am inside if block")
print("i am outside if block")

10 is greated than 5
i am inside if block
i ama ouside if block
i am ouside if block

In [6]:
#how to get the value from user in run time

#use the input state ment

a = input("enter number")
print(a)

if a>10:
  print("yes it is!")

enter nameHari
Hari

In [8]:
#input statement

name = input("enter your name")
print("your name is: ",name)

enter your nameHari
your name is:  Hari

In [10]:
no1 = input("Enter the first Number: ")
no2 = input("Enter the 2nd Number: ")  #this will return in string format

print(no1+no2)



#how to convert the string to integer,
#basically converting one type to another type.
no1 = int(input("Enter the first Number: "))
no2 = int(input("Enter the 2nd Number: "))  #this will return in string format

print(no1+no2)

Enter the first Number: 10
Enter the 2nd Number: 23
1023
Enter the first Number: 10
Enter the 2nd Number: 23
33

In [11]:
no1 = float(input("enter first no"))  #type casting for float
no2 = float(input("enter 2nd no"))

print(no1)
print(no2)

enter first no10
enter 2nd no23
10.0
23.0

In [12]:
age = int(input("Enter your Age: "))
if age >= 18:
  print("Welcome to Vote")
  print("your eligible to cast your vote")
else:
  print("since your less than 18, hence you are not eligible for vote ")

print("Thank you!!")

Enter your Age: 23
Welcome to Vote
your eligible to cast your vote
Thank you!!

In [13]:
age = int(input("Enter your Age: "))
if age >= 18:
  print("Welcome to Vote")
  print("your eligible to cast your vote")
else:
  print("since your less than 18, hence you are not eligible for vote ")

print("Thank you!!")

Enter your Age: 17
since your less than 18, hence you are not eligible for vote
Thank you!!

In [14]:
age = int(input("Enter your Age: "))
if age >= 18:
  print("Welcome to Vote")
  print("your eligible to cast your vote")
else:
  print("since your less than 18, hence you are not eligible for vote ")

print("Thank you!!")

Enter your Age: 18
Welcome to Vote
your eligible to cast your vote
Thank you!!

In [18]:
Maths = int(input("Please enter your maths marks: "))

if Maths >= 35:
  print("your are passed and your maths marks are:", Maths)
else:
  print("failed")

Please enter your maths marks: 60
your are passed and your maths marks are: 60

In [19]:
a = int(input("enter no: "))

if a%2 == 0:
  print("even")
else:
  print("odd")

enter no: 3
odd

In [22]:
a = (input("Enter city name: "))

if a == 'Bangalore':
  print("i Know Bangalore")
elif a == "Chennai":
  print("i know Chennai")
elif a == "Hyderabad":
  print("I know Hyderabd")
else:
  print("i'm not awrare of this city")

Enter city name: Mumbai
i'm not awrare of this city

In [23]:
a = int(input("Enter your percentage: "))

if a >= 90:
  print("Grade A")
elif a >= 80:
  print("B Grade")
elif a >= 70:
  print("C grade")
else:
  print("Below C grade, or failed")

Enter your percentage: 95
Grade A

In [25]:
#nested if condition

num = int(input("Enter number: "))

if num > 0:
  print("num is positive number")
  if num %2 == 0:
    print("number is even")
  else:
    print("number is Odd")
else:
  print("Number is negative number")

Enter number: -23
Number is negative number

In [30]:
#loops(iterative statements)
#while

i = 2
while i <= 5:
  print(i)
  i = i +1

2
3
4
5

In [32]:
#print 5 tables
i = 0
while i <= 50:
  print(i)
  i=i + 5

0
5
10
15
20
25
30
35
40
45
50

In [33]:
#multiplecation table

num = int(input("enter the table no"))
i = 1
while i<= 10:
  print(i*num)
  i= i+1

enter the table no5
5
10
15
20
25
30
35
40
45
50

In [34]:
#print all odd no from 1 to 100

i = 1
while i <= 100:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [35]:
#for loop

for i in "NTT DATA":
  print(i)

N
T
T

D
A
T
A

In [37]:
for i in [10, 20, 30, 40, 50]:
  print(i*2)

20
40
60
80
100

In [39]:
#print vowels

v = ["a","e","i","o","u"]
name = input("enter name")
counter = 0
for i in name:
  if i in v:
    counter = counter + 1
print(counter)

enter nameBengaluru
4

In [ ]:
#assignment , how to reverse a string

name = "NTT DATA"

for i in name:


# check given string is palindrome